#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --ring-color: gray;
  --primary-color: #2F72ED;
}

body {
  overflow: scroll;
}

.chat-nested-container {
  /* height:  100vh; */
}

.welcome-heading {
  font-size: 40px;
  /* color: var(--ring-color); */
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

svg, img {
  /* filter: drop-shadow(1px 1px 1px var(--primary-color)); */
}

button.send-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  &:focus {
    outline: none;
  }
}

.input-textarea {
  outline: none;
  width: 550px;
  min-height: 50px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 8px;
  /* border: 1px solid darkgray; */
  border: 1px solid var(--primary-color);
  /* background-color: rgb(216, 224, 236); */
  background-color: #FFF;
  color: black;
  font-size: 14px;
  padding: 10px 10px;
}

.input-textarea::placeholder {
  color: #6B7280;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.user {
  width: 40%;
  padding: 10px 12px;
  /* background-color: rgba(156, 163, 175); */
  /* background-color: #E5E8CC; */
  /* background-color: #DDE0C3; */
  background-color: #E8EDDD;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 24px 0px 24px 24px;
  margin-bottom: 35px;
  align-self: flex-end;
}

.assistant {
  width: 80%;
  overflow-x: scroll;
  margin: 0 auto;
  padding: 10px 12px;
  /* background-color: #EDEDED; */
  background-color: rgb(216, 224, 236);
  border: 1px solid var(--primary-color);
  color: black;
  font-family: sans-serif;
  border-radius: 5px;
  margin-bottom: 35px;
  align-self: flex-start;
}

.query-container {
  position: relative;
  max-width: fit-content;
  margin: 0 auto;
  height: 100px;
  border-radius: 8px;
}

.send {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 0 10px 10px;
}
